{% extends 'base.html.twig' %}
    {% block title %}Article{% endblock %}
{% block body %}
    <div class="float-right" style="margin-top: 13px">
        <div class="navbar-header">
            <div class="row">
                {#                <a href="{{ path('article_locale', {'locale': 'en'}) }}">EN&nbsp;</a>#}
                {#                <a href="{{ path('article_locale', {'locale': 'ru'}) }}">&nbsp;RU</a>#}
            </div>
        </div>
    </div>

    <a href="{{ path('article_create') }}">Создать запись</a>
    <table border="1">
        <caption>Table</caption>
        <tr style="font-weight: bold">
            <td>Название</td>
            <td>Описание</td>
            <td>Дата создания</td>
            <td></td>
            <td></td>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ article.name}}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.createdAt|date('Y-m-d H:i:s') }}</td>
                <td><a href="{{ path('article_edit', {'id': article.id}) }}">Обновить запись</a></td>
                <td><a href="{{ path('article_delete', {'id': article.id}) }}">Удалить запись</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

